dvdlibrary.dtd

<?xml version="1.0" encoding="UTF-8" ?>
<!--
   Filename: dvdlibrary.dtd
   Author:Pengcheng Zhang    
   Date: 4/25/2023   
-->


<!DOCTYPE dvdlibrary
[
<!ELEMENT dvdlibrary (dvd+)>
<!ELEMENT dvd (title, description, year, company, characters?, bonus?, purchased?)>
<!ELEMENT characters (character+)>
<!ELEMENT bonus (feature+)>
<!ELEMENT purchased (price, location, date)>
<!ATTLIST dvd isbn CDATA #REQUIRED>
<!ATTLIST bonus num CDATA #REQUIRED>
<!ATTLIST purchased from (mom|dad|sister|grandpa|grandma) #IMPLIED>
<!ELEMENT title (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT year (#PCDATA)>
<!ELEMENT company (#PCDATA)>
<!ELEMENT character (#PCDATA)>
<!ELEMENT feature (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT location (#PCDATA)>
<!ELEMENT date (#PCDATA)>
>]
